@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.40;
  display: block;
}

body{
  background-color: #FFFDF8;
}

p {
  text-align: justify;
}

a{
  color: #147CE1;
  text-decoration: none;
}

a:focus{
  color: #147CE1;
  text-decoration: none;
}

a:hover{
  color: #147CE1;
  text-decoration: underline;
}


/* NOTE: START header */
header{
  width:100%;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(80,55,25,.9);
  z-index:10;
}

.container{
  position: relative;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1680px) {
  .container {
    width: 1440px;
  }
}


.row{
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 100%;
  margin: auto;
}

.logo{
  display: block;
  max-height: 60px;
  float: left;
  margin: 5px 5px;
}


/* NOTE: START navigation */
#navigation {
  display: flex;
  text-transform: uppercase;
  margin: auto;
  justify-content: flex-end;
  padding: 0;
  overflow: hidden;
}

#navigation a{
  padding: 0 20px;
  color: white;
}

#navigation a:link {
  color: white;
  text-decoration: none;
}

#navigation a:hover {
  color: white;
  text-decoration: underline;
}

#navigation a:active {
  color: orange;
  text-decoration: none;
}

#navigation a.current{
  color: orange;
  font-weight: 600;
}

#navigation a.current:hover{
  color: orange;
}

.mobile-menu-icon {
  width: 40px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  padding: 15px 10px;
  z-index: 10;
}

.mobile-menu-icon > div {
  width: 100%;
  height: 1px;
  background: #fff;
}

.mobile-menu-icon:hover {
  cursor: pointer;
  background-color: rgba(245,166,35,.2);
}

@media screen and (min-width: 736px) {
  .mobile-menu-icon {
    display: none;
  }
  #navigation {
    display: flex !important;
  }
}

@media only screen and (max-width: 735px) {
  #navigation {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  #navigation a {
    padding: 10px 25px;
  }
}

/* NOTE: START banner */
.banner {
    width: 100%;
    max-height: 680px;
    margin: auto;
    position: relative;
    display: flex;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 300px;
  }
}

@media only screen and (min-width: 601px) {
  .banner {
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner {
    height: 500px;
  }
}

@media only screen and (min-width: 1440px) {
  .banner {
    height: 680px;
  }
}

.banner:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(245,166,35,.1);
}

.about-banner {
  background: url(../images/about/about-banner.jpg) no-repeat center center;
  background-size: cover;
}

.discography-banner{
  background: url(../images/discography/discography-banner.jpg) no-repeat center center;
  background-size: cover;
}

.media-banner {
  background: url(../images/media/media-banner.jpg) no-repeat center center;
  background-size: cover;
}

.merch-banner {
  background: url(../images/merch/merch-banner.jpg) no-repeat center center;
  background-size: cover;
}

.tours-banner {
  background: url(../images/tours/tours-banner.jpg) no-repeat center center;
  background-size: cover;
}

h1{
  font-family: "Montserret", Arial Black, sans-serif;
  text-transform: capitalize;
  color: orange;
  position: absolute;
  bottom: 1%;
  left: 15%;
  z-index: 5;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 70px;
  }
}

/* NOTE: START homepage */
.container-logo-home{
  position: relative;
  top: 22%;
}

.logo-home{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.logo-home img{
  position: fixed;
  max-width: 330px;
  max-height: 180px;
  display: flex;
  justify-content: center;
}

.container-navi-home{
  position: relative;
  margin: auto;
  top: 75%;
  z-index: 5;
  font-size: 24px;
}

#navigation.navi-home{
  position: fixed;
  left: 0;
  right: 0;
  justify-content: center;
}

#navigation.navi-home a {
  padding: 0 50px;
}

@media only screen and (max-width: 1024px) {
  .container-navi-home {
    font-size: 22px;
  }
  .logo-home img{
    width: 280px;
    height: 152px;
  }
  #navigation.navi-home a {
    padding: 0 30px;
  }
  .container-logo-home{
    position: relative;
    top: 28%;
  }
}

@media only screen and (max-width: 760px) {
  .container-logo-home{
    position: relative;
    top: 20%;
  }
  .logo-home img{
    width: 250px;
    height: 136px;
  }
  .container-navi-home{
    position: relative;
    margin: auto;
    top: 50%;
  }
  #navigation.navi-home {
    display: block;
  }
  #navigation.navi-home a {
    display: block;
    text-align: center;
    padding: 10px 10px;
  }
}

.video-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.video-overlay:before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url(../images/homepage/audience.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}

.video-container{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


/* NOTE: START about page */
.column {
    float: left;
    margin: 15px 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.about-image-left{
  max-width: 360px;
  float: left;
  margin: 5px 10px 5px 0;
}

.about-image-right{
  max-width: 300px;
  float: right;
  margin: 5px 0 10px 10px;
}

.side-title {
  border-left: 3px orange solid;
  padding-left: 12px;
  font-size: 20px;
  margin-top: 0;
}

.third-list{
  list-style-type: circle;
  padding: 10px 0 10px 20px;
}

.third-list li{
  padding-bottom: 5px;
}



/* NOTE: START discography page */
.album{
  padding-top: 20px;
}

.album ul{
  padding: 0;
}

.album-info{
  list-style-type: none;
  border-left: 3px orange solid;
  padding-left: 30px;
}

.album-title{
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.album-date-label{
  text-transform: capitalize;
  font-size: 18px;
  line-height: 30px;
}

.album-cover{
  display: block;
  margin: auto;
  max-width: 500px;
  width: 100%;
  margin: 15px 0 30px 30px;
  border-radius: 500px;
}

.album-cover:hover{
  border-radius: 0;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.4);
  transition: all .3s ease;

}

@media only screen and (max-width: 992px) {
  .album-cover {
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
  }
}

.album-list{
  counter-reset: section;
  list-style-type: none;
  margin-bottom: 60px;
}

.album-list li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  line-height: 45px;
  font-size: 18px;
}

.list-left{
  margin-right: 20px;
  text-transform: capitalize;
}

.list-left::before{
  counter-increment: section;
  content: counters(section,".") " ";
  padding-right: 20px;
}


/* NOTE: START media page */
.nav-tabs{
  border: 0;
  font-size: 22px;
  margin: 20px 0;
}

.nav-tabs > li > a{
  color: black;
  padding: 10px 50px;
  background: transparent;
  border: 0;
}

.nav-tabs > li > a:hover{
  color: orange;
  font-weight: 500;
  background: transparent;
  border: 0;
}

.nav-tabs > li.active > a{
  background-color: transparent;
  border: 0;
  font-weight: bold;
  border-bottom: 3px orange solid;
  color: black;
}

.nav-tabs > li.active > a:hover{
  background-color: transparent;
  border: 0;
  border-bottom: 3px orange solid;
  color: black;
}

.nav-tabs > li.active > a:focus{
  background-color: transparent;
  border: 0;
  border-bottom: 3px orange solid;
  color: black;
}


.lightbox-image{
  margin: 20px auto 25px;
  transition: all .5s ease-in-out;
  position: relative;
  z-index: 1;
}

.lightbox-image:hover{
  box-shadow: 10px 30px 100px rgba(0,0,0,.4);
  z-index: 10;
}

.tab-content{
  margin: auto;
}

iframe{
  display: flex;
  margin: 15px auto 30px;
  max-width: 560px;
}

#videos{
  margin: auto;
}


/* NOTE: START merch page */
ul.filtr-bar{
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  font-size: 22px;
  margin: 10px 0 0 0;
}

.filtr-bar li{
  padding: 10px 30px;
  margin: auto 20px;
  text-transform: capitalize;
  white-space: nowrap;
}

.filtr-bar li:hover {
  color: orange;
  cursor: pointer;
}

.filtr-bar li.active{
  font-weight: bold;
  border-bottom: 3px orange solid;
  color: black;
}

@media only screen and (max-width: 736px) {
  ul.filtr-bar {
    display: block;
  }
  .filtr-bar li{
    padding: 10px 20px;
  }
  .filtr-bar li.active{
    border-left: 3px orange solid;
    border-bottom: none;
  }
}

@media only screen and (max-width: 1024px) {
  .filtr-bar li{
    margin: 0;
  }
}

.filtr-item{
  padding: 0;
  display: inline-block;
}

.filtr-item img{
  width: 300px;
  height: 300px;
  display: block;
  margin: 20px auto;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
}

.merch-image-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 300px;
  display: block;
  margin: 20px auto;
  transition: .3s ease;
  background-color: orange;
  opacity: 0;
  box-shadow: 2px 2px 50px black;
  z-index: 10;
}

.filtr-item:hover .merch-image-overlay{
  opacity: .9;
  cursor: no-drop;
}

.filtr-item:hover .overlay-available{
  cursor: pointer;
}

.merch-info {
  position: relative;
  margin: auto;
  width: 80%;
  text-align: center;
  color: black;
  font-weight: lighter;
  opacity: 1;
}

.merch-name{
  top:20%;
  font-size: 22px;
}

.merch-price{
  font-size: 24px;
  position: absolute;
  width: 100%;
  top:70%;
}

.filtr-item:before{
  content: "Sold Out";
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  position: absolute;
  top: 12%;
  left: 11%;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1;
  background: rgba(255,0,0,.9);
}

.filtr-item-available:before{
  content: " ";
  background: transparent;
}


/* NOTE: START tours page */
table{
  text-transform: capitalize;
  width: 100%;
  min-width: 1000px;
  margin: 30px 0;
  background-color: #FEF6EC;
  font-size: 18px;
}

thead{
  background-color: #FDE9CB;
}

thead tr th{
  text-align: center;
}

tbody tr:hover {
  background-color: white;
}

th{
  height: 50px;
  font-weight: 500;
  font-style: italic;
}

td{
  line-height: 1.7;
  height: 120px;
}

tbody tr td:nth-child(1) {
  padding-left: 9%;
}

tbody tr td:nth-child(2) {
  padding-bottom: 30px;
  padding-left: 5%;
}

tbody tr td:nth-child(3) {
  padding-left: 11%;
}

tbody tr td:nth-child(4) {
  padding-left: 7%;
}

.venue{
  font-weight: 500;
}

.button{
  border: black solid 3px;
  padding: 10px 30px;
  color: black;
  font-weight:600;
}

.button:focus{
  background-color: transparent;
  color: black;
  text-decoration: none;
}

.button:hover{
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

tbody tr td.sold-out{
  color: red;
  font-weight: 600;
  padding-left: 10%;
}


/* NOTE: start merch-product page */
.breadcrumb-container{
  margin: 110px auto 0;
}

ul.breadcrumb{
  background-color: transparent;
  margin-bottom: 0;
}

.product-thumb-image{
  width: 100%;
  margin-bottom: 20px;
  border: lightgrey 1px solid;
}

.active-thumb, .product-thumb-image:hover {
  border: lightgrey 1px solid;
  border-left: orange 3px solid;
}

.product-image-container{
  padding: 0 50px 50px 0;
}

.product-image{
  width: 100%;
  border: lightgrey 1px solid;
}

.product-info{
  padding-left: 0;
}

.product-name{
  margin: 0 0 10px 0;
}

.product-price{
  color: #FF9F00;
  margin: 30px 0;
}

.size-guide{
  text-align: right;
  font-size: 14px;
}

.size{
  margin: 10px auto 10px;
  display: flex;
}

.size-box{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.size-list{
  border: 1px grey solid;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
  cursor: pointer;
  background-color: white;
}

.active-size, .size-list:hover {
  border: 1px #FF9F00 solid;
  color: #FF9F00;
  font-weight: 600;
}

.input-group{
  display: flex;
}

.button-hollow-circle{
  padding: 0 10px;
  margin: 0 20px;
  border: lightgrey 1px solid;
  border-radius: 20px;
  color: black;
  font-size: 30px;
  background-color: white;
}

.button-hollow-circle:hover{
  border: orange 1px solid;
  color: orange;
}

.button-hollow-circle:focus{
  outline: 0;
}

.input-group-field{
  width: 50px;
  text-align: center;
  border: 1px lightgrey solid;
}

.input-group-field:focus{
  outline: 0;
  border: 1px grey solid;
}

.quantity{
  display: flex;
}

.quantity-box{
  display: flex;
  list-style: none;
  padding-left: 10px;
}

.quantity li.quantity-operator{
  border: 1px grey solid;
  padding: 0 10px;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
}

.quantity li.quantity-operator:hover{
  border: 1px orange solid;
  color: orange;
}

.quantity-number{
  font-size: 20px;
}

.product-add{
  width: 100%;
  padding: 15px;
  background-color: #FF9F00;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin: 40px auto 30px;
}

.product-add:hover{
  background-color: orange;
  color: #201400;
  font-weight: 600;
}

.product-add:focus{
  outline: 0;
}

.detail{
  margin-top: 20px;
}

.detail-title{
  font-weight: 600;
}

.detail-list{
  line-height: 26px;
  padding-top: 5px;
}

.maylike-title{
  padding-bottom: 0;
}

.maylike-image {
  width: 100%;
  border: lightgrey 1px solid;
  margin: 0 auto 20px;
}

.maylike-image-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 15px 20px 15px;
  transition: .3s ease;
  background-color: orange;
  opacity: 0;
  z-index: 10;
}

.maylike-item:hover .maylike-image-overlay{
  opacity: .9;
  cursor: no-drop;
}

.maylike-item:before{
  content: "Sold Out";
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  position: absolute;
  top: 5%;
  left: 10%;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1;
  background: rgba(255,0,0,.9);
}
